<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				My Personal Books List
			{% endblock %}
		</title>

		{% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		<h1>Symfony 7 Web Application</h1>
		{% block body %}{% endblock %}
	</body>
</html>
